* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 30px;
  width: 100%;
  min-height: 100vh;
}

[class^='button-'] {
  background-color: salmon;
  display: grid;
  place-items: center;
}

.calculator {
  display: grid;
  gap: 10px;
  height: 100vh;

  grid-template-areas:
    'A A A A'
    'B C D E'
    'F G H I'
    'J K L M'
    'N O P R';
}

.readout {
  background-color: palegoldenrod;
  display: grid;
  place-items: center end;
  grid-area: A;
}
